.env
.env.*
!.env.example
!.env.production.example
.git
.gitignore
.idea
.DS_Store
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
bootstrap/cache/*.php
npm-debug.log
yarn-error.log
